## Python list

In [1]:
#Accesing values in the list

list1=[1,5,9,8,7,2,4,3]
list2=["ram","shyam","hari"]

print (list1[0])
print(list2[:])

1
['ram', 'shyam', 'hari']

In [2]:
#updating a list

print ("value at list2[2] is :",list2[2])
list2[2]="madhu"
print("value at list2[2] is :",list2[2])

value at list2[2] is : hari
value at list2[2] is : madhu

In [3]:
#deleting
print (list1)
del list1[3]
print (list1)

[1, 5, 9, 8, 7, 2, 4, 3]
[1, 5, 9, 7, 2, 4, 3]

## Built in list functions

In [4]:
print (len(list2))

#gives length of list

3

In [5]:
print (max(list2))
print (max(list1))

#returns maximum value from the list

shyam
9

In [6]:
print (min(list2))
print (min(list1))

#returns minimum value from the list

madhu
1

In [7]:
atuple=("ramu",12,"kalu",42)
alist=list(atuple)
print ("tuple in list is :",alist)

#list() is used to convert a tuple into list

tuple in list is : ['ramu', 12, 'kalu', 42]

### List methods

In [8]:
alist.append(2009)
print (alist)

#append() is used to add a value in the list

['ramu', 12, 'kalu', 42, 2009]

In [9]:
alist.append(12)
print (alist)

print ("count for 12 in the list",alist.count(12))

['ramu', 12, 'kalu', 42, 2009, 12]
count for 12 in the list 2

In [10]:
l1=[1,2,3]
l2=[4,5,6]

l1.extend(l2)
print("list after extending :",l1)

list after extending : [1, 2, 3, 4, 5, 6]

In [11]:
print (l1.index(6))

print (l1.index(4))

l2=["Ram","nam","mam","dham"]
print ("index of mam",l2.index('mam'))

#returns index of value

5
3
index of mam 2

In [12]:
#list.insert(index, obj)
#Inserts object obj into list at offset index

blist = [4,5,6]
blist.insert(0,3)
print(blist)

[3, 4, 5, 6]

In [13]:
#list.pop(obj=list[-1])
#Removes and returns last object or obj from list

print ("Removed value :",blist.pop())
print ("after removal :", blist)

print ("removed value :",blist.pop(0))
print ("after removal :",blist)

Removed value : 6
after removal : [3, 4, 5]
removed value : 3
after removal : [4, 5]

In [14]:
#list.reverse()
#Reverses objects of list in place

num =[1,2,3,4,5,6,7,8,9]
num.reverse()

#print ("reverse order :", num.reverse())

print ("reverse order :", num)

reverse order : [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
#list.sort([func])
#Sorts objects of list, use compare func if given

a=[8,5,3,4,6]
a.sort()
print ('sorting in ascending :',a)

sorting in ascending : [3, 4, 5, 6, 8]

In [16]:
a.sort(reverse=True)
print ('sorting in descending :',a)

sorting in descending : [8, 6, 5, 4, 3]

## Python Tuples

In [17]:
#accesing values in tuples 

tup1 = (1,2,3,4,5)
tup2= ('ram','mam','sam','nam')
print (tup1[3])
print (tup2[1:])

4
('mam', 'sam', 'nam')

In [18]:
#Updating tuples 

print (tup1)

#'tuple' object does not support item assignment
#tup1[2]="updated"
#print ("After update :",tup1)  

tup3=tup1+tup2
print ("After update :",tup3)

(1, 2, 3, 4, 5)
After update : (1, 2, 3, 4, 5, 'ram', 'mam', 'sam', 'nam')

In [19]:
#Deletion

#tuple object doesnot support item deletion
#del tup3[3]
#print (tup3[3])
#instead we can delete tuple i.e del tup

In [20]:
tup3=(5,6,3,1,7,9)
print (tup3)

print ("length of tuple =",len(tup3))

print ("maximum item in the tuple =",max(tup3))

print ("minimum item in the tuple =",min(tup3))

(5, 6, 3, 1, 7, 9)
length of tuple = 6
maximum item in the tuple = 9
minimum item in the tuple = 1

In [21]:
list1=[2,4,6,7,0]

print ("list into tuple :",tuple(list1))

list into tuple : (2, 4, 6, 7, 0)

## Python Date and time

In [22]:
import time


#getting current time
localtime = time.localtime(time.time())
print ("current local time is :",localtime)

current local time is : time.struct_time(tm_year=2020, tm_mon=2, tm_mday=5, tm_hour=15, tm_min=53, tm_sec=2, tm_wday=2, tm_yday=36, tm_isdst=0)

In [23]:
#getting formatted time

localtime=time.asctime(localtime)

print ("current formatted time is :",localtime)

current formatted time is : Wed Feb  5 15:53:02 2020

In [24]:
#getting calendar for a month

import calendar

cal=calendar.month(2020,2)
print ("calendar for february 2020 is",cal)

calendar for february 2020 is    February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

## Functions -> Calling a function

In [25]:
def printme(str):
    print (str)
    return

printme("I am from Butwal and i study CSIT")
printme ("Python is easy to learn")

I am from Butwal and i study CSIT
Python is easy to learn

## Pass by Reference vs pass by value

## Function Arguments

In [26]:
#Required arguments

def printme(str):
    print (str)
    return

printme("I study CSIT")

I study CSIT

In [28]:
#Keywords arguments

def detail(name,age):
    print ("name is :",name,"   \nage is :",age)
    return

detail(age=30,name="Kolaj")

name is : Kolaj
age is : 30

In [30]:
#Default arguments

def default(name,age=35):
    print ("name :",name,"\nage :",age)
    return

default("ram",20)
default("shyam")

name : ram
age : 20
name : shyam
age : 35

In [31]:
#variable length arguments

def fun(val,*v):
    print ("the value is :\n",val)
    for x in v:
        print (x)
    
    return

fun(10)
fun("kolaj",10,20)

the value is :
 10
the value is :
 kolaj
10
20

In [35]:
#Global vs Local variables

total=0
def dummy(a,b):
    total = a+b
    print ("total inside function :",total)
    return total

dummy(10,20)
print ("total outside function :",total)

total inside function : 30
total outside function : 0

## Python Dictionary

In [37]:
#Accessing a value in dictionary

dict ={'name':'ram','age':18,'roll':7}

print (dict['name'],"\n",dict['age'])

ram
 18

In [38]:
#Updating a dictionary

dictt = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dictt['Age'] = 8; # update existing entry
dictt['School'] = "DPS School"; # Add new entry

print (dictt['Age'],dictt['School'])

8 DPS School

In [39]:
#Deleting a dictionary

del dictt['Name']; # remove entry with key 'Name'
print(dictt)

{'Age': 8, 'Class': 'First', 'School': 'DPS School'}

In [40]:
dictt.clear();     # remove all entries in dict
print (dictt)

{}

In [41]:
del dictt ;        # delete entire dictionary
print (dictt)

NameError: name 'dictt' is not defined

## Properties of key

In [43]:
#When duplicate keys encountered during assignment, the last assignment wins

dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}
print ("dict['Name']: ", dict['Name'])

dict['Name']:  Manni

In [45]:
#you can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed

dict = {['Name']: 'Zara', 'Age': 7}
print ("dict['Name']: ", dict['Name'])

TypeError: unhashable type: 'list'

In [46]:
#dict.copy()
#Returns a shallow copy of dictionary dict

adict={'name':'hari','class':7,'aim':'vlogger'}
bdict=adict.copy()
print (bdict)

{'name': 'hari', 'class': 7, 'aim': 'vlogger'}

In [49]:
#dict.fromkeys()
#Create a new dictionary with keys from seq and values set to value.

seq=('name','age','sex')
dict=dict.fromkeys(seq)

print ("dictionary with only keys :",dict)
print ("dictionary with key and value :",dict.fromkeys(seq,10))

dictionary with only keys : {'name': None, 'age': None, 'sex': None}
dictionary with key and value : {'name': 10, 'age': 10, 'sex': 10}

In [52]:
#dict.get(key, default=None)
#returns a value for the given key. If key is not available then returns default value None

dict={'name':'Kolaj','age':8}
print(dict.get('age'))
print (dict.get('wicket','Lammichane'))

8
Lammichane

In [56]:
#dict.has_key(key)
#Returns true if key in dictionary dict, false otherwise
#the above  syntax doesn't work in python 3 and heence we can do it as done below

print ('age' in dict)

True

In [58]:
#dict.items()
#Returns a list of dict's (key, value) tuple pairs

print (dict.items())

dict_items([('name', 'Kolaj'), ('age', 8)])

In [62]:
#dict.keys()
#Returns list of dictionary dict's keys

print (dict.keys())

dict_keys(['name', 'age'])

In [64]:
#dict.update(dict2)
#Adds dictionary dict2's key-values pairs to dict

dict = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female' }

dict.update(dict2)

print (dict)

{'Name': 'Zara', 'Age': 7, 'Sex': 'female'}

In [66]:
#dict.values()
#Returns list of dictionary dict's values

print (dict.values())

dict_values(['Zara', 7, 'female'])